name: build
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goVer: [1.19]

    steps:
    - name: Set up Go ${{ matrix.goVer }}
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.goVer }}
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get dependencies
      run: |
        go get -v -t -d ./...
        go get gopkg.in/check.v1
        
    - name: Format
      run: diff -u <(echo -n) <(gofmt -d .)    
      
    - name: Build
      run: go build -v ./...
