name: Lint
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Set Golang
        uses: actions/setup-go@v3
        with:
          go-version: "1.21.x"
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Check spelling with custom config file
        uses: crate-ci/typos@master
        with:
          config: ./typos.toml

      - name: Lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
